{% extends 'amp_base.html' %}

{% set title = "Make Your Wedding Beautiful - Bespoke Venue Dressing & Stationery For Weddings - Decoupage Dreams" %}
{% set short_title = "For Weddings" %}
{% set meta_description = "Make your venue beautiful with Decoupage Dreams. Fully insured, bespoke venue decor in Lancashire, Yorkshire or the Lake District." %}
{% set meta_opengraph_title = title %}
{% set meta_opengraph_description = meta_description %}
{% set meta_opengraph_image = None %}
{% set meta_opengraph_image_alt = None %}

{% set cta_text = "Reserve My Wedding Date" %}
{% set cta_href = "#inquiry-form" %}

{% set canonical_url = "https://www.decoupagedreams.co.uk/weddings" %}

{% block amp_scripts %}
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
{% endblock %}

{% block style %}
@media(max-width: 600px) {
  .products .card-deck--3 .card {
    height: 140px;
  }
}

.products {
  margin-top: -20px;
}

.jumbo .form {
  display: none;   
}

@media(min-width: 600px) {
  .products {
    margin-top: -140px;
  }

  .jumbo .copy {
    float: left; width: 65%;
  }

  .jumbo .subtitle {
    margin: 0;
  }

  .jumbo .form {
    float: right; width: 30%; text-align: right;
  }

  .jumbo .form {
    display: block;
    }

  .jumbo .copy .cta {
    display: none;
  }
}
{% endblock %}

{% block main %}
{% set jumbo_title = "Make Your Wedding Beautiful." %}
{% set jumbo_subtitle = "Fully insured, bespoke decor and stationery for your wedding venue in <b>Lancashire</b>, <b>Yorshire Dales</b> or the <b>Lake District</b>." %}
{% set jumbo_caption = "Reserve our services for your special date, obligation free." %}
{% set jumbo_image_url_650 = "https://images.unsplash.com/photo-1519741497674-611481863552?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;h=650&amp;q=80" %}
{% set jumbo_image_url_450 = "https://images.unsplash.com/photo-1519741497674-611481863552?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=600&amp;h=450&amp;q=80" %}
{% include 'includes/amp_section_jumbo.html' %}

<section id="fold-features" class="container products">
  <ul class="card-deck--4 cards-deck--features">
    {% set stories = [{
      "caption1": "Chair Covers & Sashes",
      "caption2": "Any colour, any style",
      "image": "/static/images/products2/IMG_20190504_164701.jpg",
    }, {
      "caption1": "Table Decorations",
      "caption2": "Bespoke table centrepieces and sashes",
      "image": "/static/images/products/IMG_20190504_165613.jpg",
    }, {
      "caption1": "Stationery",
      "caption2": "Place cards, RSVPs, breakfast invites and more...",
      "image": "/static/images/products2/IMG_20190504_152910.jpg",
    }, {
      "caption1": "Favour Boxes",
      "caption2": "Hand-crafted luxury favours",
      "image": "/static/images/products2/IMG_20190504_163416.jpg",
    }] %}
    {% with stories = stories %}
      {% include 'includes/amp_deck_stories_img.html' %}
    {% endwith %}
  </ul>
  <div style="clear: both"></div>
  <ul class="card-deck--3" style="padding-top: 12px;">
    {% set stories = [{
      "caption1": "Fully Insured",
      "caption2": "We carry full business insurance, to make sure that your 
                    day goes your way no matter what.",
    }, {
      "caption1": "Your Day, Your Style",
      "caption2": "We'll work with you to produce the best designs tailored
                    to your personal taste.",
    }, {
      "caption1": "Our Service Included",
      "caption2": "We'll setup your venue, and collect everything once your 
                    day is over - all included.",
    }] %}
    {% with stories = stories %}
      {% include 'includes/amp_deck_stories_text.html' %}
    {% endwith %}
  </ul>
  <div style="clear: both"></div>
  <br>
  <a href="{{ cta_href }}">
    <button class="primary">{{ cta_text }}</button>
  </a>
</section>
<br><br>


{% include 'includes/amp_section_testimonials.html' %}
<br><br>


<section id="fold-features" class="container">
  <h2 class="typography-fancy">Any Occasion</h2>
  <div class="typography-caption">We'll always find a way to make it more beautiful. That's our promise.</div>
  <br>
  <ul class="card-deck--3">
    {% set stories = [{
      "caption1": "Wedding Day",
      "image": "https://images.unsplash.com/photo-1498192512043-a20305136767?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=300&q=80",
    }, {
      "caption1": "Hen Nights & Stag Dos",
      "image": "https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=300&q=80",
    }, {
      "caption1": "Anniversaries",
      "image": "https://images.unsplash.com/photo-1518199128314-4f127ebfece8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=300&q=80",
    }] %}
    {% with stories = stories %}
      {% include 'includes/amp_deck_stories_img.html' %}
    {% endwith %}
  </ul>
  <div style="clear: both"></div>
  <br>
  <a href="{{ cta_href }}">
    <button class="primary">{{ cta_text }}</button>
  </a>
</section>
<br><br>


{% include 'includes/amp_section_googlemap.html' %}
<br><br>

<div id="inquiry-form">
  {% include 'includes/amp_section_form_inquiry.html' %}
</div>
<br><br>

  {% set photo_credits = ["@nate_dumlao", "@priscilladupreez", "@kchance8", "@freestocks"] %}
  <footer class="mdc-typography--caption" style="text-align: center; padding-top: 42px;">
  Additional photos by {% for p in photo_credits %}
  <a href="https://unsplash.com/{{ p }}">{{ p }}</a> 
  {% endfor %} on <a href="https://www.unsplash.com">Unsplash</a>.
  </footer><br><br>
</footer>
{% endblock %}