{% extends 'amp_base.html' %}

{% set title = "An Occasion To Remember - Bespoke Venue Dressing & Stationery For Weddings - Decoupage Dreams" %}
{% set short_title = "Occasions" %}
{% set meta_description = "Make your wedding venue beautiful with Decoupage Dreams. Fully insured, bespoke venue decor in Lancashire, Yorkshire or the Lake District." %}
{% set meta_opengraph_title = title %}
{% set meta_opengraph_description = meta_description %}
{% set meta_opengraph_image = None %}
{% set meta_opengraph_image_alt = None %}

{% set cta_text = "Save My Date" %}
{% set cta_href = "/contact" %}

{% set canonical_url = "https://www.decoupagedreams.co.uk/occasions" %}

{% block style %}
@media(max-width: 600px) {
  .cards-deck--features .card {
  }

  .products .card-deck--3 .card {
    height: 140px;
  }
}

.products {
  margin-top: -20px;
}

@media(min-width: 600px) {
  .products {
    margin-top: -140px;
  }
}
{% endblock %}

{% block amp_scripts %}
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
{% endblock %}

{% block main %}
{% set jumbo_title = "An Occasion To Remember." %}
{% set jumbo_subtitle = "Fully insured, bespoke decor and stationery for your venue in <b>Lancashire</b>, <b>Yorshire Dales</b> or the <b>Lake District</b>." %}
{% set jumbo_caption = "Reserve our services for your special date, obligation free." %}
{% set jumbo_image_url_650 = "https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&h=650&q=80" %}
{% set jumbo_image_url_450 = "https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&h=450&q=80" %}
{% include 'includes/amp_section_jumbo.html' %}

<section class="container" style="margin-top: -50px;">
  <!-- <h2 class="typography-fancy">Our Products</h2> -->
  <!-- <div class="typography-caption">We offer our products at competitive prices. Bride and Bridegroom can choose as much or as little as desired.</div> -->
  <ul class="card-deck--4">
    {% set stories = [{
      "caption1": "Chair Covers & Sashes",
      "caption2": "Any colour, any style",
      "image": "/static/images/products2/IMG_20190504_164701.jpg",
    }, {
      "caption1": "Table Decorations",
      "caption2": "Bespoke table centrepieces and sashes",
      "image": "/static/images/products/IMG_20190504_165613.jpg",
    }, {
      "caption1": "Stationery",
      "caption2": "Place cards, RSVPs, breakfast invites and more...",
      "image": "/static/images/products2/IMG_20190504_152910.jpg",
    }, {
      "caption1": "Favour Boxes",
      "caption2": "Hand-crafted luxury favours",
      "image": "/static/images/products2/IMG_20190504_163416.jpg",
    }] %}
    {% with stories = stories %}
      {% include 'includes/amp_deck_stories_img.html' %}
    {% endwith %}
  </ul>
  <div style="clear: both"></div>
  <ul class="card-deck--3" style="padding-top: 12px;">
    {% set stories = [{
      "caption1": "Fully Insured",
      "caption2": "We carry full business insurance, to make sure that your 
                    day goes your way no matter what.",
    }, {
      "caption1": "Bespoke, End-To-End",
      "caption2": "We'll work with you to produce the best designs tailored
                    to your personal taste.",
    }, {
      "caption1": "Full Service Included",
      "caption2": "We'll setup your venue, and collect everything once your 
                    day is over - all included.",
    }] %}
    {% with stories = stories %}
      {% include 'includes/amp_deck_stories_text.html' %}
    {% endwith %}
  </ul>
  <div style="clear: both"></div>
  <br>
  <a href="{{ cta_href }}">
    <button class="primary">{{ cta_text }}</button>
  </a>
</section>
<br><br>


<section class="container">
  <h2 class="typography-fancy">Any Occasion</h2>
  <div class="typography-caption">We'll always find a way to make it more beautiful. That's our promise.</div>
  <br>
  <ul class="card-deck--3">
    {% set stories = [{
      "caption1": "Birthdays",
      "image": "https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=300&q=80",
    }, {
      "caption1": "Funerals",
      "image": "https://images.unsplash.com/photo-1544813545-4827b64fcacb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=300&q=80",
    }, {
      "caption1": "Christenings",
      "image": "https://images.unsplash.com/photo-1510073634266-1c59fd23c4cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=300&q=80",
    }] %}
    {% with stories = stories %}
      {% include 'includes/amp_deck_stories_img.html' %}
    {% endwith %}
  </ul>
  <div style="clear: both"></div>
  <br>
  <a href="{{ cta_href }}">
    <button class="primary">{{ cta_text }}</button>
  </a>
</section>
<br><br>


{% include 'includes/amp_section_testimonials.html' %}
<br><br>


{% include 'includes/amp_section_googlemap.html' %}
<br><br>


{% include 'includes/amp_section_form_inquiry.html' %}
<br><br>


{% set photo_credits = ["@nate_dumlao", "@priscilladupreez", "@kchance8", "@freestocks"] %}
<footer class="mdc-typography--caption" style="text-align: center; padding-top: 42px;">
Additional photos by {% for p in photo_credits %}
<a href="https://unsplash.com/{{ p }}">{{ p }}</a> 
{% endfor %} on <a href="https://www.unsplash.com">Unsplash</a>.
</footer><br><br>
{% endblock %}