{% extends 'amp_base.html' %}

{% set title = "Decoupage Dreams - Bespoke Venue Dressing & Stationery" %}
{% set short_title = "Home" %}
{% set meta_description = "Based in Lancashire UK, we provide beautiful bespoke wedding stationery, favour boxes and venue dressing with high-quality table & chair decorations." %}
{% set meta_opengraph_title = title %}
{% set meta_opengraph_description = meta_description %}
{% set meta_opengraph_image = None %}
{% set meta_opengraph_image_alt = None %}

{% set cta_text = "Make An Inquiry" %}
{% set cta_href = "/amp/weddings" %}

{% set canonical_url = "https://www.decoupagedreams.co.uk" %}

{% set enable_fab = True %}

{% block amp_scripts %}
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
{% endblock %}

{% block main %}
<header class="jumbo">
  <div class="container">
    <h1 class="typography-fancy" style="font-size:54px">Decoupage Dreams</h1>
    <div class="typography-caption">Based in Lancashire UK, we provide bespoke wedding stationery and venue 
      dressing services in our local community and beyond. Why not contact us for 
      an obligation-free conversation?</div>
    <!-- <div>Email input</div> -->
    <br>
    <a href="{{ cta_href }}">
      <button class="primary">{{ cta_text }}</button>
    </a>
  </div>
  <!-- <amp-img src="https://source.unsplash.com/random/1920x400" 
    height="400" 
    width="1920"
    layout="responsive"> -->
</header>


<section class="container">
  <h2 class="typography-fancy">Any Occasion</h2>
  <div class="typography-caption">We have a wide range of stationery products and venue dressing services 
    across a range of occasions. Please click to see more.</div>
  <br>
  <ul class="card-deck--3">
    {% set stories = [{
      "caption1": "Occasions",
      "caption2": "Birthdays, Christenings & Funerals",
      "href": "/occasions",
      "image": "/static/images/products2/IMG_20190504_161833.jpg",
    }, {
      "caption1": "Weddings",
      "caption2": "Bespoke Table Decorations, Chair Covers, Table Plans & Stationery For Your Special Day",
      "href": "/weddings",
      "image": "/static/images/products/IMG_20190504_153051.jpg",
    }, {
      "caption1": "Gifts",
      "caption2": "Bespoke Cards & Favour Boxes",
      "href": "/gifts",
      "image": "/static/images/products2/IMG_20190504_160743.jpg",
    }] %}
    {% with stories = stories %}
      {% include 'includes/amp_deck_stories_img.html' %}
    {% endwith %}
  </ul>
  <div style="clear: both"></div>
  <br>
  <a href="{{ cta_href }}">
    <button class="primary">{{ cta_text }}</button>
  </a>
</section>
<br><br>


{% include 'includes/amp_section_testimonials.html' %}
<br><br>


{% include 'includes/amp_section_googlemap.html' %}
<br><br>


{% include 'includes/amp_section_form_inquiry.html' %}
<br><br>


<footer class="jumbo">
  <a href="/">Home</a>
</footer>
{% endblock %}