{% extends 'amp_base.html' %}

{% set title = "Decoupage Dreams - Bespoke Venue Dressing & Stationery" %}
{% set short_title = "" %}
{% set meta_description = "Based in Lancashire UK, we provide beautiful bespoke wedding stationery, favour boxes and venue dressing with high-quality table & chair decorations." %}
{% set meta_opengraph_title = title %}
{% set meta_opengraph_description = meta_description %}
{% set meta_opengraph_image = None %}
{% set meta_opengraph_image_alt = None %}

{% set cta_text = "Make An Inquiry" %}
{% set cta_href = "/amp/weddings" %}

{% block style %}
{% endblock %}

{% block amp_scripts %}
{% endblock %}

{% block main %}
<div style="text-align: center; padding: 40vh 0 40vh 0;">
  <h1 class="typography-fancy">Nothing's Here</h1>
  <span><a href="/amp">Click here</a> to return to the home page.</span>
</div>
{% endblock %}