{% extends 'base.html' %}
{% set title = "Home - Decoupage Dreams" %}
{% set short_title = "Home" %}
{% set transparent_header = False %}
{% set home_page = True %}
{% block content %}
<!-- Masthead -->
<header class="fold-masthead data-masthead mdc-card">
  <h1 class="fold-title mdc-typography--headline1">Decoupage Dreams</h1>
  <div class="fold-subtitle mdc-typography--subtitle2">Based in Lancashire UK, we provide bespoke wedding
  stationery and venue dressing services in our local community and beyond. Why not contact us for an
  obligation-free conversation?
  </div>

  {% include 'includes/form_email.html' %}

  <br><br>

  <div class="shade"></div>
</header>


{% include 'includes/section_any_occasion.html' %}


{% if flags.ENABLE_BLOG %}
<section class="container fold-section">
  <div class="mdc-typography--headline4">Latest Blog Posts</div>
  <div class="mdc-typography--subtitle2"></div>
  <div class="mdc-layout-grid fold-blog-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <div class="mdc-card">
          <img src="https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          <div class="mdc-typography--headline5">10 Tips For Your Wedding</div>
          <div class="mdc-typography--caption">Written 20th June 2019</div>
          <div class="mdc-typography--body2">
            <p>We can highly recommend Decoupage Dreams! Ann is amazing, and goes above and beyond. Our wedding
              venue and flowers were so beautiful!</p>
            <p><b>We would have no hesitation to use Decoupage Dreams for future events.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% include 'includes/section_testimonials.html' %}

{% include 'includes/section_google_map.html' %}


{% include 'includes/section_faq.html' %}
{% include 'includes/cta_inquiry.html' %}


{% endblock %}
