{% extends 'base.html' %}
{% set title = "For Weddings - Bespoke Venue Dressing & Stationery - Decoupage Dreams" %}
{% set short_title = "Weddings" %}
{% set transparent_header = False %}
{% set cta = "Save My Date" %}
{% set cta_url = "#fold-inquiry" %}
{% block content %}
<!-- Masthead -->
<header class="fold-masthead data-masthead mdc-card">
  <h1 class="fold-title mdc-typography--headline1">Weddings</h1>
  <div class="fold-subtitle mdc-typography--subtitle2">Bespoke wedding venue decoration service and
  stationery products in the Lancashire area. We carry full business insurance for your peace of mind. 
  Your day, your way.</div>

  {% include 'includes/form_weddings.html' %}

  <br>
  <div class="fold-subtitle mdc-typography--subtitle2">Reserve our services for your special date, obligation free.</div>

  <div class="shade"></div>
</header>


{% if flags.ENABLE_PRODUCTS %}
<section class="container fold-section">
  <div class="mdc-typography--headline4">Our Products</div>
  <div class="mdc-typography--subtitle2">We offer our products at competitive prices. 
	  Bride and Bridegroom can choose as much or as little as desired. </div>
</section>

<!--ol class="fold-carousel">
  <li>
    <div class="mdc-card" style="background: url('/static/images/products2/IMG_20190504_161833.jpg');"></div>
  </li>
</ol-->

<section class="container">
  <div class="mdc-layout-grid fold-products-list">
      <div class="mdc-card fold-title-card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/static/images/products2/IMG_20190504_164701.jpg')">
        <div class="fold-title-card--text">
          <div class="mdc-typography--headline5">Chair Covers &amp; Sashes</div>
        </div>
      </div>

      <div class="mdc-card fold-title-card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/static/images/products/IMG_20190504_165613.jpg'">
        <div class="fold-title-card--text">
          <div class="mdc-typography--headline5">Table Decorations</div>
        </div>
      </div>

      <div class="mdc-card fold-title-card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/static/images/products2/IMG_20190504_152910.jpg'">
        <div class="fold-title-card--text">
          <div class="mdc-typography--headline5">Cards &amp; Stationery</div>
        </div>
      </div>

      <div class="mdc-card fold-title-card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/static/images/products2/IMG_20190504_163416.jpg'); margin-right: 0 !important;">
	<div class="fold-title-card--text">
          <div class="mdc-typography--headline5">Favour Boxes</div>
	</div>
      </div>
  </div>

  {% include 'includes/cta_inquiry.html' %}
</section>
{% endif %}


<section class="container fold-section">
  <div class="mdc-typography--headline4">Why choose us?</div>
  <div class="mdc-typography--subtitle2">We believe our unique approach has many benefits to offer.</div>

  <div class="mdc-card" style="padding: 2%; margin-right: 0.6%; width: 49.4%; float: left; height: 220px">
    <div class="mdc-typography--headline5">Fully Insured</div>
    <div class="mdc-typography--subtitle3">We carry full business insurance on our products & services, to make sure that your day goes your way no matter what.</div>
  </div>

  <div class="mdc-card" style="padding: 2%; margin-left: 0.6%; width: 49.4%; float: left; height: 220px; margin-bottom: 12px;">
    <div class="mdc-typography--headline5">Bespoke, End-To-End</div>
    <div class="mdc-typography--subtitle3">Throughout the process we'll work with you, as much or as little as you want, to produce the best designs tailored to your day.</div>
  </div>

  {% include 'includes/cta_inquiry.html' %}
</section>

{% include 'includes/section_testimonials.html' %}
{% include 'includes/section_google_map.html' %}


{% endblock %}
