{% extends 'base.html' %}
{% set title = "Gifts - Cards & Favour Boxes - Decoupage Dreams" %}
{% set short_title = "Gifts" %}
{% set transparent_header = False %}
{% set cta = "View The Gallery" %}
{% set cta_url = "/products" %}
{% block content %}
<!-- Masthead -->
<header class="fold-masthead data-masthead mdc-card">
  <h1 class="fold-title mdc-typography--headline1">Gifts</h1>
  <div class="fold-subtitle mdc-typography--subtitle2">todo</div>

  {% include 'includes/form_weddings.html' %}

  <br><br>

  <div class="shade"></div>
</header>


<section class="container fold-section">
  <div class="mdc-typography--headline4">Cards</div>

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">photo</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
     	<ul>
	  <li>Hand-crafted cards &amp; stationery</li>
	  <li>Choose from a range of designs, or work with our designer Ann to make something truly bespoke</li>
	  <li>Discounts available for larger orders</li>
	</ul>
      </div>
    </div>
  </div>

  {% include 'includes/cta_inquiry.html' %}
</section>


<section class="container fold-section">
  <div class="mdc-typography--headline4">Favour Boxes</div>

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">photo</div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
     	<ul>
	  <li>Beautiful hand-crafted favors for gifting</li>
	  <li>Choose from a range of designs, or work with our designer Ann to make something truly bespoke</li>
	  <li>Discounts available for larger orders</li>
	</ul>
      </div>
    </div>
  </div>

  {% include 'includes/cta_inquiry.html' %}
</section>


{% include 'includes/section_testimonials.html' %}


{% endblock %}
