{% extends 'base.html' %}
{% set title = "Gift Shop - Cards & Favours For Giving - Decoupage Dreams" %}
{% set short_title = "Gift Shop" %}
{% set description = "Visit our gift shop to find cards & favour boxes for your loved ones. Beautiful hand-crafted designs. Free shipping." %}
{% set photo_credits = ["@sharonmccutcheon"] %}
{% set masthead_url = "https://images.unsplash.com/photo-1448832945950-bc85f82891bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&h=1000&q=80" %}
{% set transparent_header = False %}

{% block content %}
<!-- Masthead -->
<header class="fold-masthead2 data-masthead" style=" background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), 
url('{{ masthead_url }}');">
  <div class="mdc-typography--headline4">Decoupage Dreams</div>
  <br>
  <div class="mdc-typography--headline3">Give The Gift Of Decoupage</div>
  <div class="mdc-typography--subtitle1">Cards &amp; favours for your loved ones. Beautiful hand-crafted designs.</div>
  <br>

  {% set cta = "View The Gallery" %}
  {% set cta_url = "/gallery" %}
  {% include 'includes/cta_inquiry.html' %}

  <br>
  <div class="mdc-typography--caption">Free shipping on all orders via email. PayPal accepted.</div>

  <div class="shade"></div>
</header>


<section class="container fold-section">
  <div class="mdc-typography--headline4">Favour Boxes</div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        {% with collection = favour_box_collection.images[:6] %}
          {% set class = "fold-gallery2-image-list__micro" %}
          {% include 'collection.html' %}
        {% endwith %}
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
     	<ul>
	  <li>Beautiful hand-crafted favors for gifting</li>
	  <li>Choose from a range of designs, or work with our designer Ann to make something truly bespoke</li>
	  <li>Discounts available for larger orders</li>
	</ul>
      </div>
    </div>
  </div>

  {% set cta = "View The Favour Box Gallery" %}
  {% set cta_url = "/gallery/favour-boxes" %}
  {% include 'includes/cta_inquiry.html' %}
</section>


<section class="container fold-section">
  <div class="mdc-typography--headline4">Cards</div>

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        {% with collection = cards_collection.images[:6] %}
          {% set class = "fold-gallery2-image-list__micro" %}
          {#% include 'collection.html' %#}
        {% endwith %}
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
     	<ul>
	  <li>Hand-crafted cards &amp; stationery</li>
	  <li>Choose from a range of designs, or work with our designer Ann to make something truly bespoke</li>
	  <li>Discounts available for larger orders</li>
	</ul>
      </div>
    </div>
  </div>

  {% set cta = "View The Cards Gallery" %}
  {% set cta_url = "/gallery/cards" %}
  {% include 'includes/cta_inquiry.html' %}
</section>


<div class="mdc-typography--caption" style="text-align: center; padding-top: 42px;">
Additional photos by {% for p in photo_credits %}
<a href="https://unsplash.com/{{ p }}">{{ p }}</a> 
{% endfor %} on <a href="https://www.unsplash.com">Unsplash</a>.
</div>


{% endblock %}
