<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Store",
	"name": "Decoupage Dreams",
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "",
		"addressLocality": "Morecambe",
		"addressRegion": "Lancashire",
		"postalCode": ""
	},
	"image": "https://www.decoupagedreams.co.uk/static/images/products2/IMG_20190504_161833.jpg",
	"email": "ann@decoupagedreams.co.uk",
	"telePhone": "07419 111922",
	"url": "https://www.decoupagedreams.co.uk",
	"paymentAccepted": [ "cash", "check", "invoice", "paypal" ],
	"openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 08:00-18:00",
	"openingHoursSpecification": [ {
		"@type": "OpeningHoursSpecification",
		"dayOfWeek": [
			"Monday",
			"Tuesday",
			"Wednesday",
			"Thursday",
			"Friday",
			"Saturday",
			"Sunday"
		],
		"opens": "08:00",
		"closes": "18:00"
	} ],
	"priceRange":"$$"

}
</script>

