<section class="container">
  <h2 class="typography-fancy">Based in Lancashire</h2>
  <div class="typography-caption">Founded in Morecambe, we have since branched 
    out to serve the whole <b>Lancashire</b> area including the <b>Lake 
    District</b> and <b>Yorkshire Dales</b> We work with hotels & venues across
    the area and beyond.
  </div>
    <br>
  <div class="card" style="margin: 24px 0;">
    {% include 'includes/amp_embed_googlemap.html' %}
  </div>
  <a href="{{ cta_href }}">
    <button class="primary">{{ cta_text }}</button>
  </a>
</section>