<form method="post"
action-xhr="/confirm"
target="_top"
style="width: 100%; margin: 0 auto; padding: 8px; padding-top: 16px;">
<fieldset style="border: 0; width: 100%; padding: 0; margin: 0;">
  <label>
    <input type="text"
      name="name"
      class="fold-input"
      placeholder="Your Name"
      style="width: 100%"
      required>
  </label>
  <label>
    <input type="email"
      name="email"
      class="fold-input"
      placeholder="Your Email Address"
      style="width: 100%"
      required>
  </label>
  <label>
    <textarea name="message"
      class="fold-input"
      placeholder="Additional Details (budget, wedding date)"
      style="width: 100%"
      cols="50" 
      rows="9"></textarea>
  </label>
  <button type="submit" class="primary">{{ cta_text }}</button>
</fieldset>
<div submit-success>
  Subscription successful!
</div>
<div submit-error>
  Subscription failed!
</div>
</form>