<header class="jumbo shadow" style="text-align: left;">
  <div class="inner">
    <div class="container">
      <div style="float: left; width: 65%">
        <div class="logo typography-fancy">Decoupage Dreams</div>
        <br>
        <h1 class="title">{{ jumbo_title }}</h1>
        <p class="subtitle" style="margin: 0;">{{ jumbo_subtitle | safe }}</p>
        <br>
        <div class="caption">{{ jumbo_caption }}</div>
      </div>
      <div style="float: right; width: 30%; text-align: right;">
        {% include 'includes/amp_form_inquiry_short.html' %}
      </div>
    </div>
  </div>
  <amp-img alt="Photo of couple getting married"
    media="(min-width: 601px)"
    width="1920"
    height="650"
    src="{{ jumbo_image_url_650 }}"></amp-img>
    <amp-img alt="Photo of couple getting married"
      media="(max-width: 600px)"
      width="600"
      height="450"
      src="{{ jumbo_image_url_450 }}"></amp-img>
</header>