<ul class="card-deck--3">
<li class="card">
  <div class="supporting">
    <div class="caption1">Occasions</div>
    <div class="caption2">Birthdays, Christenings & Funerals</div>
  </div>
  <amp-img src="https://source.unsplash.com/random/400x300" 
    height="300" 
    width="400"
    layout="responsive">
</li>

<li class="card">
  <div class="supporting">
    <div class="caption1">Weddings</div>
    <div class="caption2">Bespoke Table Decorations, Chair Covers, Table Plans & Stationery For Your Special Day</div>
  </div>
  <amp-img src="https://source.unsplash.com/random/400x300" 
    height="300" 
    width="400"
    layout="responsive">
</li>

<li class="card">
  <div class="supporting">
    <div class="caption1">Gifts</div>
    <div class="caption2">Bespoke Cards & Favour Boxes</div>
  </div>
  <amp-img src="https://source.unsplash.com/random/400x300" 
    height="300" 
    width="400"
    layout="responsive">
</li>
</ul>

<div style="clear: both"></div>