<form method="get"
action-xhr="/confirm_expanded"
target="_top"
style="max-width: 400px; margin: 0 auto; padding: 8px; padding-top: 16px;">
<fieldset style="border: 0; width: 100%; padding: 0; margin: 0;">
  <label>
    <input type="text"
      name="name"
      class="fold-input"
      placeholder="Your Name"
      style="width: 100%"
      required>
  </label>
  <br>
  <label>
    <input type="email"
      name="email"
      class="fold-input"
      placeholder="Your Email Address"
      style="width: 100%"
      required>
  </label>
  <br>
  <label>
    <input type="text"
      name="budget"
      class="fold-input"
      style="width: 100%"
      placeholder="Your Budget">
  </label>
  <br>
  <label>
    <textarea name="message"
      class="fold-input"
      placeholder="Additional Details"
      style="width: 100%"
      cols="50" 
      rows="10"></textarea>
  </label>
  <button type="submit" class="primary">Make An Inquiry</button>
</fieldset>
<div submit-success>
  Subscription successful!
</div>
<div submit-error>
  Subscription failed!
</div>
</form>