<section class="container fold-section">
  <div class="mdc-typography--headline4">Based in Lancashire</div>
  <div class="mdc-typography--subtitle2">
Founded in Morecambe, we have since branched out to serve the whole Lancashire area.
We work with hotels &amp; venues across the area and beyond. 
  </div>
  <div class="mdc-card">
    <iframe class="fold-local-map" src="https://www.google.com/maps/d/u/1/embed?mid=14b7IsPk9ClKtERllOKX9FodZxomX5ls8" style="width: 100%; height: 500px"></iframe>
  </div>
</section>

{% include 'includes/cta_inquiry.html' %}
