<section class="container fold-section" id="fold-faq">
  <div class="mdc-typography--headline4">Frequently Asked Questions</div>
  <div class="mdc-typography--subtitle2">We get asked these questions really often, so we've decided to write them down here to help you!</div>

  <details>
    <summary>What payment methods do you accept?</summary>
    <p>We accept PayPal, Cheque, Cash and Direct Debit.</p>
  </details>

  <details>
    <summary>What styles and colours are available?</summary>
    <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
  </details>

  <details>
    <summary>How soon should we get in touch about our event?</summary>
    <p>Interested event hosts (weddings, occasions, etc..) should get in touch ASAP. Please use the form below, and we'll reserve your date obligation-free.</p>
  </details>

  <!--details>
    <summary>You mentioned business insurance - got any more details?</summary>
    <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
  </details>

  <details>
    <summary>What budget sizes do you normally work with?</summary>
    <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
  </details>

  <details>
    <summary>What is your refund policy?</summary>
    <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
  </details-->

  <details>
    <summary>I have a request about my data I've given you (such as email address or wedding info).</summary>
    <p>Please send an email to <a href="mailto:cameron@decoupagedreams.co.uk">cameron@decoupagedreams.co.uk</a> for all requests relating to personal data.</p>
  </details>

</section>
