

<div id="fold-testimonials" class="mdc-layout-grid fold-testimonial-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <div class="mdc-card fold-testimonial-card">
        <img class="fold-testimonial-couple-photo"
             src="https://images.unsplash.com/photo-1493970172592-658147e0a761?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&h=200&q=80">
        <div class="mdc-typography--headline5">Mr. &amp; Mrs. Wilson</div>
        <div class="mdc-typography--caption">June 2018</div>
        <div class="mdc-typography--body2">
          <p>We can highly recommend Decoupage Dreams! Ann is amazing, and goes above and beyond. Our wedding
            venue and flowers were so beautiful!</p>
          <p><b>We would have no hesitation to use Decoupage Dreams for future events.</b></p>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell">
      <div class="mdc-card fold-testimonial-card">
        <img class="fold-testimonial-couple-photo" style="
          background: url(/static/images/chefs-catering.png);
          background-repeat: no-repeat;
          background-color: #fff;
          background-size: 135px; 
          background-position:50% 45%;
          overflow:hidden;">
        <div class="mdc-typography--headline5">Chef's Catering Ltd.</div>
        <div class="mdc-typography--caption">2018</div>
        <div class="mdc-typography--body2">
          <p>Ann offers a unique, bespoke service. We have relied on Decoupage Dreams
            to dress our events and design centre pieces that showcase our catering service.</p>
          <!-- <p>Every new business faces challenges, some more difficult than others. With the support and guidance Ann -->
          <!-- provides, we were better positioned to ensure we delievered 100% customer satisfaction.</p> -->
          <p>Ann has dressed our corporate events, provided centre pieces for our wedding fayres and business
            expo's, as well as spondoring and designing our Christmas cards. Finally, she has produced unique
            packaging for our clients.</p>
          <p><b>Chef's Catering believes in Ann because she always delivers!</b></p>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell">
      <div class="mdc-card fold-testimonial-card">
        <img class="fold-testimonial-couple-photo"
          src="https://media.licdn.com/dms/image/C4D03AQFRVysgMmNlZg/profile-displayphoto-shrink_800_800/0?e=1563408000&v=beta&t=joaqYBVTRR7w36oKBIBL0upeQZ0_PLDN5El-ixEnl8Y">
        <div class="mdc-typography--headline5">Paul Rodman, Kendal Wills</div>
        <div class="mdc-typography--caption">February 2019</div>
        <div class="mdc-typography--body2">
          <p>My stepson is getting married abroad soon, and I wanted some little gifts
            I could take to the wedding. Ann suggested some little boxes (favour boxes) we could put sweets in</p>
          <p>She has manufactured fifteen of these, and are made out of card. Each one is carefully hand-made with a
            name-tag on. The price was also very reasonable.</p>
          <p><b>Thank you Ann again, for your help with these!</b></p>
        </div>
      </div>
    </div>
  </div>
</div>    
