<!doctype html>
<html>

<head lang="en-gb">
  <!-- Anti-Flicker Snippet -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-KDGMNRW':true});</script>
	
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KDGMNRW');</script>
  <!-- End Google Tag Manager -->
	
  <title>{{ title or "Decoupage Dreams" }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#ce93d8">
  <meta name="apple-mobile-web-app-title" content="Decoupage Dreams">
  <meta name="application-name" content="Decoupage Dreams">
  <meta name="msapplication-TileColor" content="#fffbba">
  <meta name="theme-color" content="#ff9800">

  <link rel="stylesheet" href="/build/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:400,700|Material+Icons">
  <link rel="manifest" href="/static/manifest.json">

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Store",
    "name": "Decoupage Dreams",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "",
      "addressLocality": "Morecambe",
      "addressRegion": "Lancashire",
      "postalCode": ""
    },
    "image": "https://www.decoupagedreams.co.uk/static/images/products2/IMG_20190504_161833.jpg",
    "email": "ann@decoupagedreams.co.uk",
    "telePhone": "07419 111922",
    "url": "https://www.decoupagedreams.co.uk",
    "paymentAccepted": [ "cash", "check", "invoice", "paypal" ],
    "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 08:00-18:00",
    "openingHoursSpecification": [ {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "08:00",
      "closes": "18:00"
    } ],
    "priceRange":"$$"
  
  }
  </script>
</head>

<body class="mdc-typography">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDGMNRW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="fold-header-logo">
    <!-- Main Logo -->
    <a href="/"><img src="/static/favicon-32x32.png"></a>
  </header>

  <header class="fold-header-social">
    {% include 'includes/social_icons.html' %}
  </header>

  {% if flags.ENABLE_NAV %}
    <div class="fold-header-nav-hamburger">
      <i class="material-icons mdc-text-field__icon"
         tabindex="0" role="button">menu</i>
    </div>

    {% if home_page %}
    <nav class="fold-header-nav fold-header-nav-dark">
    {% else %}
    <nav class="fold-header-nav">
    {% endif %}
      <a href="/" class="active">Home</a>
      {% if flags.ENABLE_BLOG %}
      <a href="/blog">Blog</a>
      {% endif %}
      {% if flags.ENABLE_FAQ %}
      <a href="/faq">FAQ</a>
      {% endif %}
      <a href="/gallery">Gallery</a>
      <a href="/occasions">For Occasions</a>
      <a href="/weddings">For Weddings</a>
      <a href="/gifts">Gifts</a>
      <a href="#fold-testimonials">Testimonials</a>
      <a href="#fold-inquiry">Contact</a>
    </nav>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Phone FAB -->
  {% if flags.ENABLE_CALLS and call_hours %}
    <button class="mdc-fab mdc-fab--extended"
            style="position: fixed; bottom: 8px; right: 8px">
      <span class="material-icons mdc-fab__icon">call</span>
      <a href="tel:07419 111 922" class="utm-phone-fab" style="text-decoration: none; color: #333;">
        <span class="mdc-fab__label">07419 111 922</span>
      </a>
    </button>
  {% endif %}

  <footer id="fold-inquiry" class="fold-section fold-masthead fold-footer mdc-card" style="margin-top: 60px;">
    <div style="max-width: 600px; margin: 0 auto; padding: 60px 0 80px 0; ">
      <div class="mdc-typography--headline4">Inquiry Form</div>
      <div class="mdc-typography--subtitle2">Want to know more about our service? Fill in your email and we'll be in touch right away! Alternatively you can <a href="https://www.facebook.com/Decoupage-Dreams-1258375284223753">find us on Facebook</a> or phone us directly on <a href="tel:07419 111 922" class="utm-phone">07419 111 922</a>. We'd like to know (roughly) the date of your event, as well as your desired styles &amp; colours. We typically respond whtin a few hours!</div>
  
      <div style="text-align: center">
	{% include 'includes/social_icons.html' %}
	<br><br>
        {% include 'includes/form_inquiry.html' %}
      </div>
    </div>
  
    <div class="shade"></div>
  </footer>

  <footer>
    <div class="fold-title fold-signature">Decoupage Dreams</div>
  </footer>

  <script src="/build/bundle.js" async></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141003614-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  </script>

</body>

</html>
