{% set fold_header_transparent = False %}

<!doctype html>
<html>

<head lang="en-gb">
  {% if flags.ENABLE_GTM %}
  <!-- Anti-Flicker Snippet -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-KDGMNRW':true});</script>
	
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KDGMNRW');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
	
  <title>{{ title or "Decoupage Dreams" }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#ce93d8">
  <meta name="apple-mobile-web-app-title" content="Decoupage Dreams">
  <meta name="application-name" content="Decoupage Dreams">
  <meta name="msapplication-TileColor" content="#fffbba">
  <meta name="theme-color" content="#ce93d8">

  <link rel="stylesheet" href="/build/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:400,700|Material+Icons">
  <link rel="manifest" href="/static/manifest.json">

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Store",
    "name": "Decoupage Dreams",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "",
      "addressLocality": "Morecambe",
      "addressRegion": "Lancashire",
      "postalCode": ""
    },
    "image": "https://www.decoupagedreams.co.uk/static/images/products2/IMG_20190504_161833.jpg",
    "email": "ann@decoupagedreams.co.uk",
    "telePhone": "07419 111922",
    "url": "https://www.decoupagedreams.co.uk",
    "paymentAccepted": [ "cash", "check", "invoice", "paypal" ],
    "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 08:00-18:00",
    "openingHoursSpecification": [ {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "08:00",
      "closes": "18:00"
    } ],
    "priceRange":"$$"
  
  }
  </script>
</head>

<body class="mdc-typography">
  <!-- Google Tag Manager (noscript) -->
  {% if flags.ENABLE_GTM %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDGMNRW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
  <!-- End Google Tag Manager (noscript) -->
  <!--ul>
    <li><a href="#">Home</a></li>

    <li><a href="#">Occasions</a></li>
    <li><a href="#">For Weddings</a></li>
    <li><a href="#">Gifts</a></li>

    <li><a href="#">Products Gallery</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Make An Inquiry</a></li>
  </ul-->

  <aside class="fold-drawer mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title">Decoupage Dreams</h3>
      <h6 class="mdc-drawer__subtitle">Your Day, Your Way</h6>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
          <span class="mdc-list-item__text">Home</span>
        </a>

        <hr class="mdc-list-divider">
        <h6 class="mdc-list-group__subheader">Events</h6>

        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">event</i>
          <span class="mdc-list-item__text">Occasions</span>
        </a>

        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">favorite</i>
          <span class="mdc-list-item__text">For Weddings</span>
        </a>
	
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">card_giftcard</i>
          <span class="mdc-list-item__text">Gifts</span>
        </a>

        <hr class="mdc-list-divider">
        <h6 class="mdc-list-group__subheader">Learn More</h6>

        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">notes</i>
          <span class="mdc-list-item__text">Blog</span>
        </a>

        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>
          <span class="mdc-list-item__text">Testimonials</span>
        </a>

        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">question_answer</i>
          <span class="mdc-list-item__text">FAQ</span>
        </a>

        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>
          <span class="mdc-list-item__text">Make An Inquiry</span>
        </a>
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-scrim"></div>

  <!-- Transparent when we have a masthead to showcase -->
  <header id="app-bar" class="fold-top-app-bar {% if transparent_header %}fold-top-app-bar--transparent{% else %}fold-top-app-bar--filled{% endif %}">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title">{{ short_title }}</span>
      </section>
    </div>
  </header>

  <main id="main-content">
    {% block content %}{% endblock %}
  </main>

  <!-- Phone FAB -->
  {% if call_hours %}
    <button class="mdc-fab mdc-fab--extended"
            style="position: fixed; bottom: 8px; right: 8px">
      <span class="material-icons mdc-fab__icon">call</span>
      <a href="tel:07419 111 922" class="utm-phone-fab" style="text-decoration: none; color: #333;">
        <span class="mdc-fab__label">07419 111 922</span>
      </a>
    </button>
  {% endif %}

  <footer id="fold-inquiry" class="fold-section fold-masthead fold-footer mdc-card" style="margin-top: 60px;">
    <div style="max-width: 600px; margin: 0 auto; padding: 60px 0 80px 0; ">
      <div class="mdc-typography--headline4">Inquiry Form</div>
      <div class="mdc-typography--subtitle2">Want to know more about our service? Fill in your email and we'll be in touch right away! Alternatively you can <a href="https://www.facebook.com/Decoupage-Dreams-1258375284223753">find us on Facebook</a> or phone us directly on <a href="tel:07419 111 922" class="utm-phone">07419 111 922</a>. We'd like to know (roughly) the date of your event, as well as your desired styles &amp; colours. We typically respond within a few hours!</div>
  
      <div style="text-align: center">
	{% include 'includes/social_icons.html' %}
	<br><br>
        {% include 'includes/form_inquiry.html' %}
      </div>
    </div>
  
    <div class="shade"></div>
  </footer>

  <footer>
    <div class="fold-title fold-signature">Decoupage Dreams</div>
  </footer>

  <script src="/build/bundle.js" async></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141003614-1"></script>
  {% if flags.ENABLE_GTM %}
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  </script>
  {% endif %}

</body>

</html>
