{% extends 'page.html' %}
{% set title = "Blog - Decoupage Dreams" %}
{% block content %}
{% include 'header.html' %}
{% if flags.ENABLE_CALLS and call_hours %}
  <button class="mdc-fab mdc-fab--extended"
       	  style="position: fixed; bottom: 8px; right: 8px">
    <span class="material-icons mdc-fab__icon">call</span>
    <a href="tel:07419 111 922" style="text-decoration: none; color: #333;">
      <span class="mdc-fab__label">07419 111 922</span>
    </a>
  </button>
{% endif %}

<header style="text-align: center">
  <h1 class="fold-title-subpage mdc-typography--headline2">Blog</h1>
  <div class="fold-subtitle mdc-typography--subtitle2">subtitle</div>
</header>
{% endblock %}
