<!doctype html>
<html>

<head lang="en-gb">
  <title>Confirmed! - Decoupage Dreams</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/build/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:400,700|Material+Icons">
  <link rel="manifest" href="/static/manifest.json">
</head>

<body class="mdc-typography">
<header class="fold-masthead data-masthead mdc-card" style="">
  <h1 class="fold-title mdc-typography--headline1">Decoupage Dreams</h1>
  <div class="fold-subtitle mdc-typography--subtitle2">Thank you for reaching out. We'll be in touch soon!
  </div>

  <form action="/">
  <button class="mdc-button mdc-button--raised" style="width: 140px; margin: 0 auto; height: 40px;"> 
    <span class="mdc-button__label">Home Page</span>
  </button>
  </form>

  <div class="shade"></div>
</header>
 

  <div class="data-app-shell">
    
  </div>

  <footer>
    <div class="fold-title fold-signature">Decoupage Dreams</div>
  </footer>

  <script src="/build/bundle.js" async></script>
</body>

</html>
