<footer class="fold-section fold-masthead data-masthead fold-footer mdc-card" style="margin-top: 60px;">
  <div style="max-width: 600px; margin: 0 auto; padding: 60px 0 80px 0; ">
    <div class="mdc-typography--headline4">Inquiry Form</div>
    <div class="mdc-typography--subtitle2">Want to know more about our service? Fill in your email and we'll be in touch right away! Alternatively you can <a href="https://www.facebook.com/Decoupage-Dreams-1258375284223753">find us on Facebook</a> or phone us directly on <a href="tel:07419 111 922" class="utm-phone">07419 111 922</a>.</div>

    <div style="text-align: center">
      {% include 'contact_form_expanded.html' %}
    </div>
  </div>

  <div class="shade"></div>
</footer>

