<ul class="mdc-image-list mdc-image-list--masonry fold-venue-image-list">
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products/IMG_20190504_152910.jpg">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Text label</span>
    </div>
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
      src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Text label</span>
    </div>
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
      src="https://images.unsplash.com/photo-1521543832500-49e69fb2bea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Text label</span>
    </div>
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
      src="https://images.unsplash.com/photo-1526092817387-8f07b2904e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Text label</span>
    </div>
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
      src="https://images.unsplash.com/photo-1517722014278-c256a91a6fba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Text label</span>
    </div>
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
      src="https://images.unsplash.com/photo-1502635385003-ee1e6a1a742d?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
    <div class="mdc-image-list__supporting">
      <span class="mdc-image-list__label">Text label</span>
    </div>
  </li>
</ul>
