{% extends 'base.html' %}
{% set title = collection.title + " - Gallery - Decoupage Dreams" %}
{% set short_title = "Gallery" %}
{% set description = collection.meta_description %}
{% set transparent_header = False %}
{% set cta = collection.cta %}
{% set cta_url = collection.cta_url %}
{% block content %}
<section class="container fold-section" style="padding-top: 42px">
  <h1 class="mdc-typography--headline3">{{ collection.title }}</h1>
  <h6 class="mdc-typography--subtitle2">{{ collection.description }}</h6>
  {% include 'includes/cta_inquiry.html' %}
</section>
<section class="container fold-section" style="padding-top: 32px">
  {% with collection = collection.images %}
    {% set class = "fold-gallery2-image-list" %}
    {% include 'collection.html' %}
  {% endwith %}
</section>

{% endblock %}
