<ul class="mdc-image-list mdc-image-list--masonry fold-venue-image-list">
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products2/IMG_20190504_152910.jpg">
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products2/IMG_20190504_161857.jpg">
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products2/IMG_20190504_161833.jpg">
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products2/IMG_20190504_165613.jpg">
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products2/IMG_20190504_164701.jpg">
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products2/IMG_20190504_162818.jpg">
  </li>
  <li class="mdc-image-list__item mdc-card">
    <img class="mdc-image-list__image"
	 src="/static/images/products2/IMG_20190504_160743.jpg">
  </li>
</ul>
