<img src="/static/favicon-32x32.png" class="fold-header-logo" href="/">

<nav class="fold-header-nav fold-header-nav-home">
  <a href="/" class="active data-href-spa">Home</a>
  <a href="/gallery" class="data-href-spa">Venue Dressing</a>
  <a href="/gallery" class="data-href-spa">Stationery</a>
  <a href="/gallery" class="data-href-spa">Products</a>
  <a href="/gallery" class="data-href-spa">Gallery</a>
  <a href="/gallery" class="data-href-spa">Blog</a>
  <a href="/gallery" class="data-href-spa">Contact Us</a>
</nav>


