{% if flags.ENABLE_SOCIAL %}
<header class="fold-header-logo">
  <a href="/"><img src="/static/favicon-32x32.png"></a>
  <ul class="fold-header-social">
    <li>
      <a href="https://www.facebook.com/Decoupage-Dreams-1258375284223753/">
	{% if home_page %}
        <img src="/static/social/fb.png">
	{% else %}
        <img src="/static/social/fb_dark.png">
	{% endif %}
      </a>
    </li>

    <li>
      <a href="https://www.instagram.com/decoupagedreamsuk/">
	{% if home_page %}
        <img src="/static/social/ig.png">
	{% else %}
        <img src="/static/social/ig_dark.png">
	{% endif %}
      </a>
    </li>

    <li>
      <a href="https://www.pinterest.co.uk/decoupagedreamsuk/">
	{% if home_page %}
        <img src="/static/social/pin.png">
	{% else %}
        <img src="/static/social/pin_dark.png">
	{% endif %}
      </a>
    </li>
  </ul>
</header>
{% endif %}

{% if flags.ENABLE_NAV %}
<i class="material-icons mdc-text-field__icon fold-header-nav-hamburger" 
	tabindex="0" role="button">menu</i>

{% if home_page %}
<nav class="fold-header-nav fold-header-nav-dark">
{% else %}
<nav class="fold-header-nav">
{% endif %}
  <a href="/" class="active data-href-spa">Home</a>
  <a href="/blog" class="data-href-spa">Blog</a>
  <a href="/occasions" class="data-href-spa">Occasions</a>
  <a href="/weddings" class="data-href-spa">Weddings</a>
  <a href="/gifts" class="data-href-spa">Gifts</a>
</nav>
{% endif %}


