<div class="mdc-layout-grid fold-blog-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <div class="mdc-card">
	<img src="https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        <div class="mdc-typography--headline5">10 Tips For Your Wedding</div>
        <div class="mdc-typography--caption">Written 20th June 2019</div>
        <div class="mdc-typography--body2">
          <p>We can highly recommend Decoupage Dreams! Ann is amazing, and goes above and beyond. Our wedding
            venue and flowers were so beautiful!</p>
          <p><b>We would have no hesitation to use Decoupage Dreams for future events.</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
