{% extends 'page.html' %}
{% set title = "Home - Decoupage Dreams" %}
{% block content %}
{% include 'home_header.html' %}
<section class="container fold-section">
  <div class="mdc-typography--headline4">Our Products</div>
  <div class="mdc-typography--subtitle2">We have a wide range of <b>stationery</b> products and <b>venue dressing</b> services. Here's a few examples of our work:</div>

  {% include 'gallery.html' %}

</section>

<section class="container fold-section">
  <div class="mdc-typography--headline4">Testimonials</div>
  <div class="mdc-typography--subtitle2">We love our customers and work hard to design the best products we can for
    their day. Here's what they have to say about our service.</div>

  {% include 'testimonials.html' %}

</section>

<section class="container fold-section">
  <div class="mdc-typography--headline4">Product List</div>
  <div class="mdc-typography--subtitle2">
We offer our products at competitive prices. Bride and Bridegroom can choose as much or as little as desired.
Discounts may be available when purchasing for more than 100 guests. Please get in touch for more details.
  </div>

  {% include 'pricing.html' %}

</section>


<section class="container fold-section fold-footer" style="max-width: 600px">
  <div class="mdc-typography--headline4">Contact</div>
  <div class="mdc-typography--subtitle2">Want to know more about our service? Fill in your email and we'll be in touch right away! Alternatively you can <a href="https://www.facebook.com/Decoupage-Dreams-1258375284223753">find us on Facebook</a> or phone us directly on <a href="tel:07419 111 922">07419 111 922</a>.</div>

  <div style="text-align: center">
    {% include 'contact_form.html' %}
  </div>

</section>

{% if flags.ENABLE_CALLS and call_hours %}
  <button class="mdc-fab mdc-fab--extended"
       	  style="position: fixed; bottom: 8px; right: 8px">
    <span class="material-icons mdc-fab__icon">call</span>
    <a href="tel:07419 111 922" style="text-decoration: none; color: #333;">
      <span class="mdc-fab__label">07419 111 922</span>
    </a>
  </button>
{% endif %}

{% endblock %}
