<!doctype html>
<html>

<head lang="en-gb">
	<title>{{ title or "Decoupage Dreams" }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/build/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:400,700|Material+Icons">
</head>

<body class="mdc-typography">
  {% include 'header.html' %}

  <!-- <section class="container fold-section">
    <div class="mdc-typography--headline4">Venue Dressing</div>
    <div class="mdc-typography--subtitle2">We work with you throughout the process to design all venue aesthetics.
      Everything is handmade, high-quality and bespoke to ensure <b>your day goes your way</b>.
    </div>

    <ul class="mdc-image-list mdc-image-list--masonry fold-venue-image-list">
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1505744288177-8a097ba01de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1521543832500-49e69fb2bea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1526092817387-8f07b2904e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1517722014278-c256a91a6fba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1502635385003-ee1e6a1a742d?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
    </ul>
  </section> -->

  <!-- <section class="container fold-section">
    <div class="mdc-typography--headline4">Stationery</div>
    <div class="mdc-typography--subtitle2">Wedding invitations, RSVPs, save-the-dates, you name it. We've got it. We go
      the extra mile when designing your bespoke stationery, your design choices are always front-and-centre. Here are
      some examples we've made to give you some ideas!</b>
    </div>

    <ul class="mdc-image-list mdc-image-list--masonry fold-venue-image-list">
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1505744288177-8a097ba01de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1521543832500-49e69fb2bea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1526092817387-8f07b2904e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1517722014278-c256a91a6fba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1502635385003-ee1e6a1a742d?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
    </ul>
  </section> -->



  <!-- <section class="container fold-section">
    <div class="mdc-typography--headline4">Stationery</div>
    <div class="mdc-typography--subtitle2">Wedding invitations, RSVPs, save-the-dates, you name it. We've got it. We go
      the extra mile when designing your bespoke stationery, your design choices are always front-and-centre. Here are
      some examples we've made to give you some ideas!</b>
    </div>

    <ul class="mdc-image-list mdc-image-list--masonry fold-venue-image-list">
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1505744288177-8a097ba01de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1521543832500-49e69fb2bea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1526092817387-8f07b2904e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1517722014278-c256a91a6fba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
      <li class="mdc-image-list__item mdc-card">
        <img class="mdc-image-list__image"
          src="https://images.unsplash.com/photo-1502635385003-ee1e6a1a742d?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
        <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div>
      </li>
    </ul>
  </section> -->

  <!-- <section class="container fold-section">
    <div class="mdc-typography--headline4">About</div>
    <div class="mdc-typography--subtitle2">Hi there, I'm Ann, founder of Decoupage Dreams</div>
  </section> -->

  <section class="container fold-section fold-footer" style="text-align: center;">
    <div class="mdc-typography--headline4">Contact Us</div>

    {% include "contact_form.html" %}

    <div class="mdc-typography--headline4">Our Promise</div>
    <div class="mdc-typography--body1">
      We recognise that your special day has to be perfect - you can rely on us. <b>And if something does go
        wrong, we have business insurance covering everything</b>, so you'll get quality service no matter what.
  </section>

  <footer>
    <div class="fold-title fold-signature">Decoupage Dreams</div>
  </footer>

  <script src="/build/bundle.js" async></script>
</body>

</html>
