{% extends 'page.html' %}
{% set title = "Home - Decoupage Dreams" %}
{% set home_page = True %}
{% block content %}
{% include 'home_header.html' %}
<section class="container fold-section">
  <div class="mdc-typography--headline4">Any Occasion</div>
  <div class="mdc-typography--subtitle2">We have a wide range of <b>stationery</b> products and <b>venue dressing</b> services across a range of occasions. Please click to see more.</div>

  <ul class="mdc-image-list mdc-image-list--masonry fold-venue-image-list">
    <li class="mdc-image-list__item mdc-card">
      <img class="mdc-image-list__image"
 	   src="/static/images/products2/IMG_20190504_152910.jpg">
    </li>

    <li class="mdc-image-list__item mdc-card">
      <img class="mdc-image-list__image"
 	   src="/static/images/products2/IMG_20190504_152910.jpg">
    </li>

    <li class="mdc-image-list__item mdc-card">
      <img class="mdc-image-list__image"
 	   src="/static/images/products2/IMG_20190504_152910.jpg">
    </li>
  </ul>
</section>

<section class="container fold-section">
  <div class="mdc-typography--headline4">Our Products</div>
  <div class="mdc-typography--subtitle2"></div>
</section>

<section class="container fold-section">
  <div class="mdc-typography--headline4">Our Service</div>
  <div class="mdc-typography--subtitle2"></div>
</section>

<section class="container fold-section">
  <div class="mdc-typography--headline4">Testimonials</div>
  <div class="mdc-typography--subtitle2">We love our customers and work hard to design the best products we can for
    their day. Here's what they have to say about our service.</div>

  <div>
    {% include 'testimonials.html' %}
  </div>

</section>


{% if flags.ENABLE_BLOG %}
<section class="container fold-section">
  <div class="mdc-typography--headline4">Latest Blog Posts</div>
  <div class="mdc-typography--subtitle2">
  </div>

  <div>
    {% include 'home_blog_recent.html' %} 
  </div>
</section>
{% endif %}


<!-- We offer our products at competitive prices. Bride and Bridegroom can choose as much or as little as desired.
	Discounts may be available when purchasing for more than 100 guests. Please get in touch for more details. -->

{% if flags.ENABLE_MAP %}
<section class="container fold-section">
  <div class="mdc-typography--headline4">Based in Lancashire</div>
  <div class="mdc-typography--subtitle2">
Founded in Morecambe, we have since branched out to serve the whole Lancashire area.
We work with hotels &amp; venues across the area and beyond.
  </div>

  {% include 'local_map.html' %}

</section>
{% endif %}
{% endblock %}
