{% extends 'base.html' %}
{% set title = "Home - Decoupage Dreams" %}
{% set home_page = True %}
{% block content %}
<!-- Masthead -->
<header class="fold-masthead data-masthead mdc-card">
  <h1 class="fold-title mdc-typography--headline1">Decoupage Dreams</h1>
  <div class="fold-subtitle mdc-typography--subtitle2">Based in Lancashire UK, we provide bespoke wedding
  stationery and venue dressing services in our local community and beyond. Why not contact us for an
  obligation-free conversation?
  </div>

  {% include 'includes/form_email.html' %}

  <div class="shade"></div>
</header>


<section class="container fold-section">
  <div class="mdc-typography--headline4">Any Occasion</div>
  <div class="mdc-typography--subtitle2">We have a wide range of <b>stationery</b> products and <b>venue dressing</b> services across a range of occasions. Please click to see more.</div>

  <div class="mdc-layout-grid fold-verticals-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
 	  <div class="mdc-card fold-title-card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/static/images/products2/IMG_20190504_152910.jpg')">
	    <div class="fold-title-card--text">
              <div class="mdc-typography--headline5">Occasions</div>
              <div class="mdc-typography--caption">Birthdays, Christenings &amp; Funerals</div>
	    </div>
          </div>
      </div>

      <div class="mdc-layout-grid__cell">
	  <div class="mdc-card fold-title-card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/static/images/products/IMG_20190504_163416.jpg'">
	    <div class="fold-title-card--text">
              <div class="mdc-typography--headline5">Weddings</div>
              <div class="mdc-typography--caption">Bespoke Table Decorations, Chair Covers, Table Plans &amp; Stationery For Your Special Day</div>
	    </div>
          </div>
      </div>

      <div class="mdc-layout-grid__cell">
	  <div class="mdc-card fold-title-card" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/static/images/products2/IMG_20190504_160743.jpg'">
	    <div class="fold-title-card--text">
              <div class="mdc-typography--headline5">Gifts</div>
              <div class="mdc-typography--caption">Bespoke Cards &amp; Favour Boxes</div>
	    </div>
          </div>
      </div>
    </div>
  </div>

  {% include 'includes/cta_inquiry.html' %}
</section>


<section class="container fold-section">
  <div class="mdc-typography--headline4">Our Service</div>
  <div class="mdc-typography--subtitle2">We offer our products at competitive prices. 
    Bride and Bridegroom can choose as much or as little as desired. Discounts may be available when purchasing 
    for more than 100 guests. Please get in touch for more details.</div>

  {% include 'includes/cta_inquiry.html' %}
</section>


<section class="container fold-section">
  <div class="mdc-typography--headline4">The Gallery</div>
  <div class="mdc-typography--subtitle2"></div>

  {% include 'gallery.html' %}
  {% include 'includes/cta_inquiry.html' %}
</section>


{% include 'includes/section_testimonials.html' %}



{% if flags.ENABLE_BLOG %}
<section class="container fold-section">
  <div class="mdc-typography--headline4">Latest Blog Posts</div>
  <div class="mdc-typography--subtitle2"></div>
  <div class="mdc-layout-grid fold-blog-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <div class="mdc-card">
          <img src="https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          <div class="mdc-typography--headline5">10 Tips For Your Wedding</div>
          <div class="mdc-typography--caption">Written 20th June 2019</div>
          <div class="mdc-typography--body2">
            <p>We can highly recommend Decoupage Dreams! Ann is amazing, and goes above and beyond. Our wedding
              venue and flowers were so beautiful!</p>
            <p><b>We would have no hesitation to use Decoupage Dreams for future events.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/cta_inquiry.html' %}
</section>
{% endif %}

{% include 'includes/section_google_map.html' %}


{% endblock %}
