<!doctype html>
<html>

<head lang="en-gb">
	<title>{{ title or "Decoupage Dreams" }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/build/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:400,700|Material+Icons">
  <link rel="manifest" href="/static/manifest.json">
</head>

<body class="mdc-typography">
  {% include "header.html" %} 

  <div class="data-app-shell">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="fold-title fold-signature">Decoupage Dreams</div>
  </footer>

  <script src="/build/bundle.js" async></script>
</body>

</html>
