<table style="margin: 0 auto; text-align: left;">
  <tr>
    <th>Product details</th>
  </tr>
  <tr>
    <td>Chair cover &amp; sash</td>
  </tr>
  <tr>
    <td>Table skirt</td>
  </tr>
  <tr>
    <td>Table centres</td>
  </tr>
  <tr>
    <td>Table runner (satin, organza or sequined)</td>
  </tr>
  <tr>
    <td>Bespoke table plan</td>
  </tr>
  <tr>
    <td>Place card</td>
  </tr>
  <tr>
    <td>Bespoke favour box</td>
  </tr>
  <tr>
    <td>Decorated stairs (1 flight)</td>
  </tr>
  <tr>
    <td>Post box (rent only)</td>
  </tr>
</table>
