<table style="margin: 0 auto; text-align: left;">
  <tr>
    <th>Product details</th>
    <th>Price per unit</th>
  </tr>
  <tr>
    <td>Chair cover &amp; sash</td>
    <td>From £3.50 each</td>
  </tr>
  <tr>
    <td>Table skirt</td>
    <td>£30.00 each</td>
  </tr>
  <tr>
    <td>Table centres</td>
    <td>From £10.00 each</td>
  </tr>
  <tr>
    <td>Table runner (satin, organza or sequined)</td>
    <td>From £5.00 each</td>
  </tr>
  <tr>
    <td>Bespoke table plan</td>
    <td>From £30.00</td>
  </tr>
  <tr>
    <td>Place card</td>
    <td>From 75p each</td>
  </tr>
  <tr>
    <td>Bespoke favour box</td>
    <td>From 75p each</td>
  </tr>
  <tr>
    <td>Decorated stairs (1 flight)</td>
    <td>From £35.00 each</td>
  </tr>
  <tr>
    <td>Post box</td>
    <td>£25.00 to hire</td>
  </tr>
</table>
