<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "http://www.your-company-site.com",
  "logo": "http://www.example.com/logo.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+1-401-555-1212",
    "contactType": "customer service"
  }]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "LocalBusiness",
    "image": "https://5000-dot-3056162-dot-devshell.appspot.com/static/apple-touch-icon.png",
    "name": "Decoupage Dreams"
  },
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "4"
  },
  "name": "A good seafood place.",
  "author": {
    "@type": "Person",
    "name": "Bob Smith"
  },
  "reviewBody": "The seafood is great.",
  "publisher": {
    "@type": "Organization",
    "name": "Washington Times"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
    "@type": "Review",
      "itemReviewed": {
          "@type": "LocalBusiness",
	      "image": "https://5000-dot-3056162-dot-devshell.appspot.com/static/apple-touch-icon.png",
	          "name": "Decoupage Dreams"
		    },
		      "reviewRating": {
		          "@type": "Rating",
			      "ratingValue": "4"
			        },
				  "name": "A good seafood place.",
				    "author": {
				        "@type": "Person",
					    "name": "Bob Smith"
					      },
					        "reviewBody": "The seafood is great.",
						  "publisher": {
						      "@type": "Organization",
						          "name": "Washington Times"
							    }
							    }
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
    "@type": "Review",
      "itemReviewed": {
          "@type": "LocalBusiness",
	      "image": "https://5000-dot-3056162-dot-devshell.appspot.com/static/apple-touch-icon.png",
	          "name": "Decoupage Dreams"
		    },
		      "reviewRating": {
		          "@type": "Rating",
			      "ratingValue": "4"
			        },
				  "name": "A good seafood place.",
				    "author": {
				        "@type": "Person",
					    "name": "Bob Smith"
					      },
					        "reviewBody": "The seafood is great.",
						  "publisher": {
						      "@type": "Organization",
						          "name": "Washington Times"
							    }
							    }
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
    "@type": "Review",
      "itemReviewed": {
          "@type": "LocalBusiness",
	      "image": "https://5000-dot-3056162-dot-devshell.appspot.com/static/apple-touch-icon.png",
	          "name": "Decoupage Dreams"
		    },
		      "reviewRating": {
		          "@type": "Rating",
			      "ratingValue": "4"
			        },
				  "name": "A good seafood place.",
				    "author": {
				        "@type": "Person",
					    "name": "Bob Smith"
					      },
					        "reviewBody": "The seafood is great.",
						  "publisher": {
						      "@type": "Organization",
						          "name": "Washington Times"
							    }
							    }
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
    "@type": "Review",
      "itemReviewed": {
          "@type": "LocalBusiness",
	      "image": "https://5000-dot-3056162-dot-devshell.appspot.com/static/apple-touch-icon.png",
	          "name": "Decoupage Dreams"
		    },
		      "reviewRating": {
		          "@type": "Rating",
			      "ratingValue": "4"
			        },
				  "name": "A good seafood place.",
				    "author": {
				        "@type": "Person",
					    "name": "Bob Smith"
					      },
					        "reviewBody": "The seafood is great.",
						  "publisher": {
						      "@type": "Organization",
						          "name": "Washington Times"
							    }
							    }
</script>
