<!doctype html>
<html>

<head lang="en-gb">
  <title>{{ title or "Decoupage Dreams" }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/build/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:400,700|Material+Icons">

<style>
  .fold-masthead {
    position: absolute !important;
    top: 0 !important; bottom: 0 !important;
    left: 0 !important; right: 0 !important;
    border-radius: 0 !important;
    margin-top: 0  !important;
  }
</style>
</head>

<body class="mdc-typography">
  {% include "header.html" %} 
  <script src="/build/bundle.js" async></script>
</body>

</html>
