@import "@material/card/mdc-card";

.fold-masthead2 {
  @extend .mdc-card;

  border-radius: 0; // remove card corners

  padding-top: 48px + 24px;
  padding-bottom: 24px;

  text-align: center;
  color: #fff;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 0;
  background-position-x: center;

  .mdc-typography--headline4 {
    font-family: 'Great Vibes', sans-serif;
  }

  .mdc-typography--headline1,
  .mdc-typography--headline2,
  .mdc-typography--headline3,
  .mdc-typography--subtitle1,
  .mdc-typography--subtitle2 {
    font-family: 'Roboto Slab', serif;
  }

  @media(max-width: 600px) {
    .mdc-typography--headline3 {
      font-size: 30px;
      line-height: 1.2em;
    }
  }
}
